/* General styles */
body {
  font-family: "Poppins", sans-serif;
  margin-left: 150px;
  padding: 0;
  background-color: #ffffff;
}

h1 {
  font-size: 2rem;
  color: #000000;
  margin: 0 0 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #f8fafa;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #818283;
  color: #0d0e10;
}

tr:nth-child(even) {
  background-color: #f8fafa;
}

form {
  display: inline-block;
  margin: 0 1rem;
}

button {
  background-color: silver;
  color: #282728;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #818283;
  color: #f8fafa;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #0d0e10;
  padding: 0.5rem;
}

input[type="submit"],
input[type="reset"] {
  background-color: #f8fafa;
  color: #f8fafa;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0d0e10;
}

option {
  padding: 2rem;
}
